<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key></key>
	<string></string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>SLEEP_TIME</string>
			<key>identifier</key>
			<string>sleep_time_key</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>sleep_time_key</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>SLEEP_QUALITY</string>
			<key>identifier</key>
			<string>sleep_quality_key</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>sleep_quality_key</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>TEMPERATURE</string>
			<key>identifier</key>
			<string>temperature_key</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>temperature_key</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>BLOOD_PRESSURE</string>
			<key>identifier</key>
			<string>blood_pressure_key</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>blood_pressure_key</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>HEART_BEAT</string>
			<key>identifier</key>
			<string>heart_beat_key</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>heart_beat_key</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>WEIGHT</string>
			<key>identifier</key>
			<string>weight_key</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>weight_key</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>BLOOD_SUGAR</string>
			<key>identifier</key>
			<string>blood_sugar_key</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>blood_sugar_key</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PAIN_LEVEL</string>
			<key>identifier</key>
			<string>pain_level_key</string>
			<key>Key</key>
			<string>pain_level_key</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
